@import url(/components/button.css);
@import url(/components/card.css);
@import url(/components/header.css);
@import url(/components/navigation.css);


:root {
  --var-color-hover: lightgrey;
  --var-color-background: rgb(168, 212, 230);

}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0; 
  padding-bottom: 70px;
  padding-top: 20px;
  /* bottom: 50px; */
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* add media query dark-mode? */
.dark {
  background-color: rgb(142, 142, 142);
  color: white;
  border-color: white;
  }

.answer {
  font-size: large;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 10px;
  outline: none;
}
.answer-text {
  display: none;
  font-weight: bold;
  margin-bottom: 10px;
}
.tags {
  position: absolute;
  left: 0;
  bottom:5px;
  display: flex;
  justify-content: space-around;
}
.tag {
  background-color: white;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.profile-pic {
  width:30%;
  border-radius: 200px;
}

.first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.profile-inhalt {
  text-align: left;
  list-style: none;
  margin-left: 20px;
}
.dark-mode {
  display: flex;
  align-items: center;
}

li {
  font-size: 15px;
  font-weight: bold;
}
.switch {
  position: relative;
  left: 10px;
  width: 40px; 
  height: 20px; 
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color:  rgb(94, 119, 129);
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }