@import url(/components/button.css);
@import url(/components/card.css);
@import url(/components/header.css);
@import url(/components/navigation.css);
@import url(/components/question-form.css);
@import url(/components/profile.css);

:root {
  --var-color-hover: rgb(168, 212, 230);
  --var-color-background: rgb(168, 212, 230);
  --var-color-border: black;
  --var-color-2: rgb(118, 183, 209);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center; 
}

@media screen and (min-width: 1200px) {

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color: var(--var-color-2);
    position: relative;
    /* border: 2px solid var(--var-color-border); */
    }
  header, main, footer .navbar {
    width: 600px;
    margin-right:;
    border-right: 2px solid black; 
    border-left: 2px solid black;
  }
  main {
    background-color: white;
  }
}
@media screen and (min-width: 600px) {
  body {
    margin: 0; 
    padding-bottom: 70px;
    /* bottom: 50px; */
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;  
    }
}

/* add media query dark-mode? */
.dark {
  background-color: rgb(142, 142, 142);
  color: white;
  border-color: white;
  }

  .dark-mode {
    display: flex;
    align-items: center;
  }