@media screen and (min-width: 1200px) {
    .refresh-button {
    border: none;
    margin-right: 3rem;
    align-self: center;
    } 
}
@media screen and (min-width: 600px) {
    .refresh-button {
    background-color: white;
    border: none;
    margin-right: 20px;
    } 
}
.refresh-button:hover path {
   fill: var(--var-color-hover);
}