.question-card {
    background-color: var(--var-color-background);
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 8px;
    position: relative;
    top: 0;
}
.question-card p {
    margin-top: 1rem;
}
.bookmark {
    position: absolute;
    top: -20px;
    right: 20px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer; 
}
.bookmark :hover {
    fill: var(--var-color-hover);
}
.answer {
  font-size: large;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 10px;
  margin-top: 1rem;
  outline: none;
}
.answer-text {
  display: none;
  font-weight: bold;
  margin-bottom: 10px;
}
.tags {
  position: absolute;
  left: 0;
  bottom:5px;
  display: flex;
  justify-content: space-around;
}
.tag {
  background-color: white;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 2px;
}
