@media screen and (min-width: 1200px) {
    header {
        border-bottom: 2px solid black;
        position: fixed;
        top: 0;
        z-index: 100; 
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 4rem;
        align-items: center;
        }
    header h1 {
        flex-grow: 2;
        margin-left: 4rem;
    }    
} 
@media screen and (min-width: 600px) {
    header {
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    color: black;
    height: 4rem;
    }
}