@media screen and (min-width: 1200px) {
   footer {
    flex-basis: 50vw;
   }
    .navbar {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* margin: 0;  
    background-color: white;
    position: fixed;
    bottom: 0; */
    }
} 

@media screen and (min-width: 600px) {
    .navbar {
        display: flex;
        
        justify-content: space-around;
        align-items: center;
        margin: 0;  
        border-top: 2px solid black;
        background-color: white;
        position: fixed;
        bottom: 0;
    }
    .nav {
        padding: 10px;
        height: 40px;
    }
}
.nav:hover {
    fill: var(--var-color-hover);
} 

path:hover {
    fill: var(--var-color-hover);
}